%script{ :type => "text/javascript",
         :src => "http://code.highcharts.com/highcharts.js" }
%script{ :type => "text/javascript",
         :src => "http://code.highcharts.com/highcharts-more.js" }
%script{ :type => "text/javascript",
         :src => "http://code.highcharts.com/modules/exporting.js" }

%h1{ :style => "text-align: center" } Ninefold Support Coverage

%div{ :class => "row span12" }
  %div{ :class => "span4" }
    %p
      - if notice
        .alert.alert-success
          =notice
      - if alert
        .alert

    - if current_user
      %p
        You're signed in as #{current_user.name}.
        = link_to "Sign out.", destroy_user_session_path
      = render :partial => "users/availability"

    - else
      %h2 Get started
      %p= link_to "Sign in with Github", |
        user_omniauth_authorize_path(:github), |
        :class => 'btn btn-large btn-primary'
      %p= link_to "Sign in with email", |
        new_user_session_path, |
        :class => 'btn btn-large btn-primary'
      / %p= link_to "sign up with email", |
      /   new_user_registration_path

  %div{ :class => "span6"}
    %h2{ :style => "text-align: center" } Schedule
    %div{ :id => "container",
          :style => "min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto" }

